In [8]:
!pip install kafka-python

Requirement already satisfied: kafka-python in /home/godfather/Documents/Projects/PyProjects/virtenv3/lib/python3.10/site-packages (2.0.2)

In [6]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [7]:
producer = KafkaProducer(bootstrap_servers=['13.235.190.117:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [8]:
producer.send('demo_test2', value={'firstname': 'vupesh'})

In [9]:
df = pd.read_csv("indexProcessed.csv")

In [10]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [11]:
dict_stock = df.sample(1).to_dict(orient="records")[0]
print (dict_stock)
producer.send('demo_test2', value=dict_stock)

{'Index': 'SSMI', 'Date': '1999-05-31', 'Open': 6816.600098, 'High': 6925.5, 'Low': 6750.299805, 'Close': 6911.600098, 'Adj Close': 6911.600098, 'Volume': 0.0, 'CloseUSD': 7671.87610878}

## creating random stock data dictionary and sending to kafka server

In [13]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_test2', value=dict_stock)
    sleep(1)

KeyboardInterrupt:

In [ ]:
producer.close()

In [ ]:
producer.flush()